{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>NP 0.1</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
<div class="container">
    <ol class="breadcrumb my-4">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active">Consulta part numbers</li>
    </ol>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>PN</th>
            <th>PART NAME</th>
            <th>PRICE</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
        <tr>
            <td>
                <a href="{% url 'item_detalhes' item.pk %}">{{ item.pn }}</a>
                <small class="text-muted d-block">{{ item.rating }}</small>
            </td>
            <td>{{ item.partName }}</td>
            <td>{{ item.yenPrice }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


</body>
</html>