{% extends 'base.html' %}
{% block breadcrumb %}
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active">Consulta part numbers</li>
{% endblock %}

{% block content %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>PN</th>
            <th>PART NAME</th>
            <th>PRICE</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
        <tr>
            <td>
                <a href="{% url 'item_detalhes' item.pk %}">{{ item.pn }}</a>
                <small class="text-muted d-block">{{ item.rating }}</small>
            </td>
            <td>{{ item.partName }}</td>
            <td>{{ item.yenPrice }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}