{% extends 'base.html' %}
{% block breadcrumb %}
{% load form_tags widget_tweaks %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item active">Consulta Pedidos</li>
{% endblock %}


{% block content %}
<div class="form-inline">
       <span class="input-group-append">
           <form method="GET" action="/search/">
           {% for field in form %}
           {% render_field field class="form-control" %}
           {% endfor %}
       <button class="btn btn-outline-secondary" type="submit">Buscar</button>
               </form>
       </span>
</div>
<br>
<div class="form-inline">
       <span class="input-group-append">
           <form method="GET" action="/search/">
           {% for field in date_form %}
           {% render_field field class="form-control" %}
           {% endfor %}
       <button class="btn btn-outline-secondary" type="submit">Buscar</button>
               </form>
       </span>
</div>

<br>

<table class="table table-hover">
    <thead class="thead-light">
    <tr>
        <th>NÚMERO</th>
        <th>CLIENTE</th>
        <th>DT RECEBIDO</th>
        <th>FORNECEDOR</th>
        <th>DT ENV. FORN.</th>
        <th>CRIADO EM</th>
        <th>LAST UPDATED
        <th>UPDATED BY</th>
    </tr>
    </thead>
    <tbody>
    {% for order in orders %}
    <tr>
        <td><a href="{% url 'pedido_detalhes' order.pk %}">{{ order.number }}</a></td>
        <td>{{ order.customer }}</td>
        <td>{{ order.received_date|date:"d/m/y" }}</td>
        <td>{{ order.fornecedor }}</td>
        <td>{{ order.date_sent_vendor|date:"d/m/y" }}</td>
        <td>{{ order.created_at|date:"d/m/y" }}</td>
        <td>{{ order.last_update|date:"d/m/y" }}</td>
        <td>{{ order.updated_by }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}