{% extends 'base_accounts.html' %}

{% block title %}
{% if validlink %}
Alterar a senha para {{ form.user.username }}
{% else %}
Altere sua senha
{% endif %}
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="card">
            <div class="card-body">
                {% if validlink %}
                <h3 class="card-title">Alterar a senha para @{{ form.user.username }}</h3>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% include 'includes/form.html' %}
                    <button type="submit" class="btn btn-success btn-block">Alterar a senha</button>
                </form>
                {% else %}
                <h3 class="card-title">Altere sua senha</h3>
                <div class="alert alert-danger" role="alert">
                    Aparentemente você clicou em um link de reset inválido. Por favor tente novamente.
                </div>
                <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Solicitar um novo link de reset de senhak</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}