{% extends 'base_accounts.html' %}

{% block title %}Resete sua senha{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Resete sua senha</h3>
                <p>Por favor verifique seu email para o link de alteração de senha. Se não receber em alguns minutos,
                    verifique na pasta de spam</p>
                <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Retornar para login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}