{% extends 'base.html' %}
{% load form_tags %}
{% block title %} Pedido {{order.number }} {%endblock title %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'lista_pedido' %}">Lista de Pedidos</a></li>
<li class="breadcrumb-item active">Pedido {{ order.number }} detalhado</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
        <table class ="table">
            <thead class="thead-light">
            <tr>
                <th>Pedido {{ order.number }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Cliente:</td>
                <td>{{ order.customer }}</td>
            </tr>
            <tr>
                <td>Criado em:</td>
                <td>{{ order.created_at }}</td>
            </tr>
            <tr>
                <td>Recebido em:</td>
                <td>{{ order.received_date }}</td>
            </tr>
            <tr>
                <td>Fornecedor:</td>
                <td>{{ order.fornecedor }}</td>
            </tr>
            <tr>
                <td>Numero:</td>
                <td>{{ order.number }}</td>
            </tr>
            </tbody>
        </table>
{% endblock content %}