container_commands:
  01_makemig:
    command: "python manage.py makemigrations"
  02_migrate:
    command: "python manage.py migrate"
    leader_only: true
  03_collectstatic:
    command: "python manage.py collectstatic --noinput"
  04_postgresql:
    command: sudo easy_install psycopg2
  05_createsu:
    command: "python manage.py createsu"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "myproject.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "myproject/wsgi.py"
    StaticFiles: "/static/=www/static/"

packages:
  yum:
    postgresql95-devel: []
    git: []